%btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: auto;
  text-align: center;
  white-space: normal;
  text-decoration: none;
  user-select: none;
  appearance: none;
  padding: $spacing-xs $spacing-lg;
  font-family: var(--font-body);
  font-weight: var(--font-weight-medium);
  font-size: rem(12px);
  line-height: rem(16px);
  min-height: rem(48px);
  color: var(--color-white);
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: 0.2s background-color var(--transition-timing-flick), 0.2s border-color var(--transition-timing-flick);
  cursor: pointer;

  &:focus,
  &:active {
    color: var(--color-white);
    background-color: var(--color-black-80);
    border: 1px solid var(--color-black-80);
  }

  &[disabled] {
    cursor: default;
    color: var(--color-grey-4);
    background: var(--color-grey-1);
    border: 1px solid var(--color-grey-1);

    &:active,
    &:focus {
      cursor: default;
      color: var(--color-grey-4);
      background: var(--color-grey-1);
      border: 1px solid var(--color-grey-1);
    }

    @media (hover: hover) {
      &:hover {
        color: var(--color-grey-4);
        background: var(--color-grey-1);
        border: 1px solid var(--color-grey-1);
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-white);
      background-color: var(--color-black-80);
      border: 1px solid var(--color-black-80);
    }
  }

  .icon {
    width: rem(16px);
    height: rem(16px);
    margin: 0 $spacing-xxs;
  }
}

.btn {
  @extend %btn;
}

%btn--secondary {
  color: var(--color-black);
  background-color: transparent;
  border-color: var(--color-grey-3);

  &:focus,
  &:active {
    color: var(--color-white);
    background-color: var(--color-black);
    border-color: var(--color-black);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-white);
      background-color: var(--color-black);
      border-color: var(--color-black);
    }
  }
}

.btn--secondary {
  @extend %btn--secondary;
}

.btn--white {
  color: var(--color-black);
  background-color: var(--color-white);
  border-color: var(--color-white);

  &:focus,
  &:active {
    color: var(--color-black);
    background-color: var(--color-white-rgb);
    border-color: transparent;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-black);
      background-color: var(--color-white-rgb);
      border-color: transparent;
    }
  }
}

.btn__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: rem(32px);
  height: rem(32px);
  text-decoration: none;
  user-select: none;
  appearance: none;
  padding: $spacing-xxs;
  color: var(--color-black);
  background-color: transparent;
  border: 1px solid transparent;
  transition: 0.2s background-color var(--transition-timing-flick);

  .icon {
    width: rem(20px);
    height: rem(20px);
  }

  &:active {
    color: var(--color-grey-5);
  }

  &:focus {
    outline: none;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-grey-5);
    }
  }
}

.btn__icon-minor {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: rem(16px);
  height: rem(16px);
  text-decoration: none;
  user-select: none;
  appearance: none;
  padding: 0;
  color: var(--color-grey-4);
  background-color: transparent;
  border: 1px solid transparent;
  transition: 0.2s color var(--transition-timing-flick);

  .icon {
    display: block;
    width: rem(16px);
    height: rem(16px);
  }

  &:active,
  &:focus {
    color: var(--color-grey-5);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-grey-5);
    }
  }
}

.btn--small {
  padding: $spacing-xs $spacing-sm;
  min-height: rem(32px);
  line-height: 1.1;
  letter-spacing: 0.05em;
}

%btn__text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: rem(12px);
  line-height: rem(16px);
  font-weight: var(--font-weight-body);
  letter-spacing: rem(1px);
  text-transform: uppercase;
  color: var(--color-black);
  border: none;
  background: none;
  padding: $spacing-xs 0;
  text-decoration: underline;
  text-decoration-color: var(--color-grey-2);
  text-underline-offset: 6px;
  transition: 0.2s text-decoration var(--transition-timing-flick);

  &:focus,
  &:active {
    color: var(--color-black);
    border: none;
    background: none;
    text-decoration-color: var(--color-black);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-black);
      text-decoration-color: var(--color-black);
      border: none;
      background: none;
    }
  }

  .icon {
    width: rem(16px);
    height: rem(16px);
    vertical-align: middle;
  }
}

.btn__text {
  @extend %btn__text;

  &[data-size-guide-modal-trigger] {
    @extend %smallcaps;
    padding: 0;
    height: unset;
    min-height: unset;
  }
}

.btn__link {
  display: inline-block;
  text-transform: none;
  letter-spacing: 0;
  font-weight: var(--font-weight-body);
  padding: 0;
  height: unset;
  min-height: unset;
}

.btn__link--no-underlined {
  text-transform: none;
  font-weight: var(--font-weight-body);
  padding: 0;
  height: unset;
  min-height: unset;
  text-decoration: none;
  transition: 0.2s color var(--transition-timing-flick);

  &:focus,
  &:active {
    color: var(--color-grey-5);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-grey-5);
    }
  }
}

.btn__text--icon-left {
  text-decoration: none;
  transition: 0.2s color var(--transition-timing-flick);

  &:focus,
  &:active {
    color: var(--color-grey-5);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-grey-5);
    }
  }

  .icon {
    margin-right: $spacing-xxs;
  }
}

.btn__text--icon-right {
  text-decoration: none;
  transition: 0.2s color var(--transition-timing-flick);

  &:focus,
  &:active {
    color: var(--color-grey-5);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-grey-5);
    }
  }

  .icon {
    margin-left: $spacing-xxs;
  }
}

.btn--block {
  width: 100%;
}

.button-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.subscribe-form__button {
  min-height: rem(40px);
}
