<!-- Brightedge -->
<style>
  .autopilot-bright-title {
    margin: auto;
    width: fit-content;
    padding-bottom: 30px;
  }

  @media screen and (max-width: 768px) {
    .autopilot-bright-title {
      margin: initial;
      padding-left: 14px;
    }
  }
  .hr-autopilot {
    border-top: 1px solid #f6f5f3;
  }
  @media screen and (max-width: 768px) {
    .hr-no-mobile {
      display: none;
    }
  }
</style>
<hr class="hr-autopilot hr-no-mobile">
<div class="autopilot-bright-title">
  <h4 class="navigation-text">Also of interest</h4>
</div>
<!-- UL must contain class footer-menu__list and LI must contain footer-menu__list-item -->
<div class="be-ix-link-block"><!--Link Block Target Div--></div>
<hr class="hr-autopilot" style="padding-bottom: 50px;">
  <!-- Brightedge end -->