.cart__table {
  margin-bottom: rem(64px);
}

.cart__table-header {
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  gap: $spacing-sm;
  margin: 0 auto;
}

.cart__heading {
  padding: $spacing-xs 0;
  border-bottom: 1px solid var(--color-grey-2);
  text-align: center;
}

.cart__table-line-items {
  list-style: none;
  padding: $spacing-lg 0;
  margin: 0 auto;
  border-top: 1px solid var(--color-grey-2);
  border-bottom: 1px solid var(--color-grey-2);

  @include media-query($medium-up) {
    border-top: none;
  }
}

.cart__line-item {
  display: grid;
  grid-template-columns: rem(100px) 1fr;
  gap: $spacing-sm;

  @include media-query($medium-up) {
    grid-template-columns: 1fr 5fr;
    gap: $spacing-xs;
  }

  + .cart__line-item {
    margin-top: rem(64px);
  }
}

.cart__item-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-sm;

  @include media-query($medium-up) {
    grid-template-columns: 2fr repeat(3, 1fr);
  }

  p {
    margin: 0;
  }
}

.cart__item-detail-meta {
  @include media-query($small-down) {
    grid-column: span 2;
  }
}

.cart__item-detail-description--light {
  color: var(--color-grey-5);
}

.cart__item-cell {
  &::before {
    @include media-query($small-down) {
      content: attr(data-label);
      display: inline;
    }
  }

  @include media-query($medium-up) {
    text-align: center;
  }
}

.cart__summary {
  padding: $spacing-lg 0;
  margin: 0 auto $spacing-lg;

  @include media-query($medium-up) {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: 'notes space summary';
    gap: $spacing-sm;
  }
}

.cart__notes {
  grid-area: notes;
}

.cart__summary-totals {
  grid-area: summary;

  p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $spacing-xs;
  }

  .cart__footer {
    display: flex;
    justify-content: flex-end;
    text-align: right;

    input {
      margin-left: $spacing-xxs;
    }
  }
}
