.password__main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-left: $outer-margin-sm;
  padding-right: $outer-margin-sm;

  @include media-query($medium-up) {
    padding-left: $outer-margin-lg;
    padding-right: $outer-margin-lg;
  }

  .component-picture__wrapper {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.password__container {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  max-width: rem(500px);
  margin: $spacing-lg;
  padding: $spacing-lg;
  background-color: var(--color-white);
  text-align: center;

  .contact-form,
  .social-sharing {
    margin-bottom: $spacing-xl;
  }

  footer {
    margin-top: $spacing-xl;
  }
}

.storefront-password-form {
  margin-bottom: $spacing-xl;
}
