<div class="container container--narrow section-spacer--{{ section.settings.section_bottom_margin }}">
  <div class="page-header">
    <h1 class="h3">{{ page.title }}</h1>
  </div>

  {%- if page.content != blank -%}
    <div class="rte">
      {{ page.content }}
    </div>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Page",
    "settings": [
      {
        "type": "select",
        "id": "section_bottom_margin",
        "label": "Section bottom margin",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      }
    ],
    "templates": [
      "page"
    ],
    "presets": [
      {
        "name": "Page"
      }
    ]
  }
{% endschema %}
