<div class="container">
  <div class="account account--narrow account--login">
    <div class="register__returning-customer">
      <h4 class="login__section-title">
        {{ 'customer.login.login_section_title' | t }}
      </h4>

      <div class="login__intro-wrapper">
        {{ 'customer.login.login_intro_html' | t }}
      </div>

      <p>
        <a href="{{ routes.account_login_url }}" class="btn btn--block">
          {{ 'customer.login.sign_in' | t }}
        </a>
      </p>
    </div>

  </div>
</div>